<h1>Edit picture #<%= @p.id %></h1>

<%= form_tag(update_picture_path(@p.id), :method => "get") do %>
  Enter the picture's url:
  <%= text_field_tag :url, @p.url %>
  Enter a description:
  <%= text_field_tag :description, @p.description %>
  Favorite?
  <%= check_box_tag :favorite, @p.favorite %>

  <%= submit_tag 'update picture' %>
<% end %>
