<h1>Edit picture #<%= @p.id %></h1>
<%= form_for(@p, :url => picture_path(@p.id), :method => 'put') do |f| %>
  <%= f.label :url, "Enter the picture's url:" %>
  <%= f.text_field :url %>

  <%= f.label :description, "Enter a description:" %>
  <%= f.text_field :description %>

  <%= f.label :favorite, "Favorite?" %>
  <%= f.check_box :favorite %>

  <%= f.submit %>
<% end %>
