<h1>List of Pictures</h1>

<%= link_to "Add a new picture", new_picture_url %>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <%= image_tag picture.url %>
      <%= link_to 'Show', picture_path(picture.id) %>
      <%= link_to 'Edit', edit_picture_path(picture.id) %>
      <%= link_to 'Destroy', destroy_picture_path(picture.id) %>
    </li>
  <% end %>
</ul>
