<h1>Add a new picture</h1>

<%= form_tag(create_picture_path, :method => "get") do %>
  Enter the picture's url:
  <%= text_field_tag :url %>
  Enter a description:
  <%= text_field_tag :description %>
  Favorite?
  <%= check_box_tag :favorite %>

  <%= submit_tag 'submit picture' %>
<% end %>
